# Python essentials
__pycache__/
*.py[cod]
venv/
env/
.venv/
thisenv/

# Your recipe books
recipe_books/

# recipe photos
static/recipe_images/

# IDE/OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Local DB/data
*.db
*.sqlite*
.env

sql_queries.sql