<!doctype html>
<html lang="en">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PlatePlanner</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  </head>
  <body>
    <section>
        <header >
          <nav class="navbar navbar-expand-lg bg-body-tertiary mb-5">
            <div class="container-fluid">
              <a class="navbar-brand" href="#"><strong>PlatePlanner</strong></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/recipes">Recipes</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/add_recipe">Manual Add</a>
                  </li>
                  <li class="nav-item" >
                    <a class="nav-link" href="/ai_recipe_add">AI Add</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Dev Tools
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="/database_build">Rebuild DB</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </header>
    </section>
    <section>
        <div class="container" >
                    <div class=" text-left row" > <h1>This Week</h1> </div>
                    <div class=" text-end row row-col-12" > <div class="col"><a ahref="#" class=" btn btn-small btn-light"> New plan </a> </div></div>
          <div class="row row-cols-2 row-cols-md-3 justify-content-center" id="meal_plan_showcase">

          </div>
        </div>

        <div class="modal fade " id="changeRecipeModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          
          <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
              
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Recipe Search</h1>
                
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="p-3">
                <div class="form-floating mb-3">
                  <input type="email" class="form-control" id="searchInput" placeholder="name@example.com">
                  <label for="searchInput">Recipe Search</label>
                </div>
              </div>
              <div class="modal-body">
                <ul class="list-group" id="search_results_list">
                 
                </ul>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Understood</button>
              </div>
            </div>
          </div>
        </div>
    </section>
   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <script>

      const recipe_showcase = document.getElementById("recipe_showcase")
      const meal_plan_showcase = document.getElementById("meal_plan_showcase")
      const searchInput = document.getElementById("searchInput")
      const search_results_list = document.getElementById("search_results_list")

      loadMenu()

      async function loadMenu(){
        try{
          const response = await fetch('/get_menu', {
            method : 'POST'
          });

          const fullResponse = await response.json();
          const menu = fullResponse.menu;  // Extract the array
          meal_plan_contents = ""
          console.log(menu)
          console.log(menu.length)
          if (menu.length == 0){
            meal_plan_contents =  ' <div class="col-lg-3 col-md-6 col-12" for each day>\
                              <div class="card h-100">  <!-- h-100 fills height -->\
                                <div class="card-header bg-primary text-white text-center">\
                                  <h5>Monday</h5>  <!-- Short day name -->\
                                </div>\
                                <div class="card-body d-flex flex-column">\
                                  <h6 class="card-title">Recipe Name</h6>\
                                  <p class="card-text text-muted small mb-2">Difficulty: Medium</p>\
                                  <p class="card-text flex-grow-1">Short instructions preview...</p>\
                                  <div class="card-footer bg-light">\
                                    <small>Source: Pinch of Nom</small>\
                                  </div>\
                                </div>\
                              </div>\
                            </div>\
                          '
          }
          else{
            const weekday = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"];
            const d = new Date();
            let today = weekday[d.getDay()];
            today = capitalizeFirstLetter(today);
            
            menu.forEach((dayObj, index) => {
              const day = Object.keys(dayObj)[0];
              const recipe = dayObj[day];
              let recipe_day_name = day.split("_")[0];
              recipe_day_name = capitalizeFirstLetter(recipe_day_name);

              
              if (recipe_day_name == today){
                highlight_today = "border-warning border-4"
                today_badge = "<span class='badge text-bg-warning position-absolute' style='top:15px;left:15px;'>Today!</span>"
              }
              else{
                highlight_today = ""
                today_badge = ""
              }
                meal_plan_contents += '\
                <div class="col ">\
                  <div class="card '+highlight_today+' mt-4 position-relative">\
                    <div class="" style="position:absolute;top:20px;right:20px;">\
                        <a href="/view_recipe/'+recipe['id']+'" class="btn btn-sm btn-light" data-bs-toggle="modal" data-bs-target="#changeRecipeModal">Change</a><br>\
                      </div>\
                    <img src="/static/recipe_images/'+recipe['photo_path']+'" class="card-img-top img-thumbnail" style="height: 150px; object-fit: cover;" alt="...">\
                    <div class="card-body">\
                    '+today_badge+'\
                      <h3 class="text-center">'+recipe_day_name+'</h3>\
                      <p class="text-center">'+recipe['name']+'</p>\
                      <div class="flex">\
                      <a href="/view_recipe/'+recipe['id']+'" class="btn btn-primary">View Recipe</a><br>\
                      </div>\
                    </div>\
                  </div>\
                </div>\
                '
            });
          }
          meal_plan_showcase.innerHTML = meal_plan_contents
        }
        catch (error){
          console.log("Error occured: "+error)
        }
      }


      function capitalizeFirstLetter(string) {
        return string.charAt(0).toUpperCase() + string.slice(1);
      }

      // Waits for typing to pause before searching
      function debounce(fn, delayMs) {
        let timeoutId = null;
        
        return async function(...args) {
          // Cancel previous timer
          if (timeoutId) {
            clearTimeout(timeoutId);
          }
          
          // Wait for pause, then call fn
          timeoutId = setTimeout(async () => {
            await fn(...args);
          }, delayMs);
        };
      }

      // Usage with async/await
      const debouncedSearch = debounce(async (searchTerm) => {
        if (searchTerm == ""){
          showResults([])
        }
        else{
        const response = await fetch('/search_recipes/' +searchTerm, {method:'POST'});
        const results = await response.json();
        showResults(results);
        }
      }, 500);

      searchInput.addEventListener('input', (e) => {
        debouncedSearch(e.target.value);
        

      });

      function showResults(data){
        console.log(data)
        list_content = "";

        if (data.length > 0){
          data.forEach(element => {
            list_content += '<li class="list-group-item d-flex justify-content-between align-items-start"><div>'+element[1]+' </div><button class="btn btn-primary btn-sm">Swap</button> </li>';
          });
        }
        else {
          list_content = '<li class="list-group-item">No recipes found</li>';
        }

        search_results_list.innerHTML = list_content;
        
      }

    </script>
  </body>

</html>