<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  </head>
  <body>
    <section>
        <header >
            <div class="card text-center mt-5 mx-auto" style="width:40em">
                <h1>Meal Planner</h1>
            </div>
        </header>
    </section>
    <section>
        
        <div class="card text-center mt-5 mx-auto" style="width:50em">
            <form method="POST" enctype="multipart/form-data" id="ai_form">
               <div class="mb-3 mx-auto" style="width:20em">
                    <label for="photo" class="form-label">photo</label>
                    <input type="file" required class="form-control" id="image" name="image">
                </div>
               
                
            </form>
            <p><button onclick="submitToAi()" class="btn btn-primary">Submit</button></p>
        </div>
        <div class="container">
            <div class="row">
                <div class="col col-12 col-md-6">
                    <div class="card text-center mt-5 mx-auto" >
                        <h1 id="recipe_name_h1" class="mb-3 mt-3"></h1>
                        <div class="mb-3">
                            <h3>Ingredients</h3>
                            <ul id="ingredients_list" class="list-group">
                                <li class="list-group-item">No ingredients yet</li>
                            </ul>
                        </div>
                        <div class="mb-3">
                            <h3>Instructions</h3>
                            <ul id="instructions_list" class="list-group">
                                <li class="list-group-item">No instructions yet</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col col-12 col-md-6">
                    <div class="card mt-5">
                        <form id="recipe_details">
                            <div class="mb-3 mx-auto text-center" style="width:15em">
                                <label class="form-label" for="recipe_name">Recipe Name</label>
                                <input type="text" name="recipe_name" id="recipe_name">
                            </div>
                            <div class="mb-3 mx-auto text-center" style="width:15em">
                                <label class="form-label"  for="recipe_location">Recipe Location</label>
                                <input type="text" name="where" id="recipe_location">
                            </div>
                            <div class="mb-3 mx-auto text-center" style="width:15em">
                                <input type="radio" id="easy_difficulty" name="easy_difficulty" value="Easy">
                                <label for="easy_difficulty">Easy</label><br>
                                <input type="radio" id="med_difficulty" name="med_difficulty" value="Medium">
                                <label for="med_difficulty">Medium</label><br>
                                <input type="radio" id="hard_difficulty" name="hard_difficulty" value="Hard">
                                <label for="hard_difficulty">Hard</label><br>
                            </div>
                            <div class="mb-3 mx-auto text-center" style="width:15em">
                                <label class="form-label"  for="page_number">Page Number?</label>
                                <input type="text" name="page_number" id="page_number">
                            </div>
                            <div class="mb-3 mx-auto text-center" style="width:15em">
                                <label class="form-label"  for="instructions">Instructions</label>
                                <input type="text" name="instructions" id="instructions">
                            </div>
                            <div class="mb-3 mx-auto text-center" style="width:15em">
                                <label class="form-label"  for="ingredients">Ingredients</label>
                                <input type="text" name="ingredients" id="ingredients">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col col-12">
                    <div class=" text-center mt-3">
                        <p><button class="btn btn-primary mt-5">Save Recipe</button></p>
                    </div>
                </div>
            </div>
        </div>
        
    </section>
   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <script>

        const form = document.getElementById("ai_form");

        const title_field = document.getElementById("recipe_name")
        const recipe_location = document.getElementById("recipe_location")
        const recipe_difficulty = document.getElementById("recipe_difficulty")
        const page_number = document.getElementById("page_number")
        const instructions = document.getElementById("instructions")
        const ingredients = document.getElementById("ingredients")
        const easy_dif = document.getElementById("easy_difficulty")
        const med_dif = document.getElementById("med_difficulty")
        const hard_dif = document.getElementById("hard_difficulty")
        const recipe_name_header = document.getElementById("recipe_name_h1")

        const ingredients_list = document.getElementById("ingredients_list")
        const instructions_list = document.getElementById("instructions_list")

        async function submitToAi(){
            const formData = new FormData(form)
            let ingredients_list_items = ""
            let instructions_list_items = ""
            const response = await fetch("/analyze-recipe", {
            method: 'POST',
            body: formData,
            });
            const data = await response.json();
            //console.log('Raw API response:', data);
            const recipe = JSON.parse(data.recipe)
            //console.log(recipe)

            title_field.value = recipe.recipe_name
            ingredients.value = recipe.ingredients

            recipe.ingredients.forEach(element => {
                ingredients_list_items += "<li class='list-group-item'>"+element+"</li>"
            });

            ingredients_list.innerHTML = ingredients_list_items

            recipe.instructions.forEach(element => {
                instructions_list_items += "<li class='list-group-item'>"+element+"</li>"
            });

            instructions_list.innerHTML = instructions_list_items

            recipe_name_header.innerHTML = recipe.recipe_name
            console.log(recipe.individual_ingredients)
        }

    </script>

    </body>
</html>